body{
    margin: 0;
}
nav{
    background-color: darkslategrey;
    color: white;
}
h1{
    padding: 30px 0;
    margin: 0;
    text-align: center;
    font-size: 64px;
}

img{
    width: 200px;
    height: 200px;
}

.player-img{
    width: 200px;
    height: 200px;
    background-size: cover;
}

.players{
    width: 60%;
    display: flex;
    margin: 200px 20% 5px 20%;
    justify-content: space-around;
    border: 3px solid darksalmon;
}
.options{
    width: 80%;
    display: flex;
    margin: auto 10%;
    justify-content: space-around;
}
.names {
    width: 80%;
    display: flex;
    margin: auto auto 200px auto;
    justify-content: space-around;
}
.names h2{
    margin-top: 0;
}


.score {
    display: block;
    margin: auto 0;
}

span{
    font-size: 32px;
}

.options img:hover{
    border: 2px solid green;
    box-shadow: dimgrey;
}